*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: red;
}
body.overflow-hidden {
  overflow: hidden;
}

nav, ul {
  margin: 0;
  padding: 0;
}

.cd-header {
  width: 100%;
  position: relative;
  background: green;
  z-index: 3;
}

.cd-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: auto;
  right: auto;
  width: 39px;
  height: 50px;
  padding: 0;
  margin: 0;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.cd-primary-nav-trigger {
  position: absolute;
  right: 20px;
  top: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-align-items: center;
          align-items: center;
}
.cd-primary-nav-trigger .cd-ckbox {
  /* autoprefixer: off */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* autoprefixer: on */
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.cd-primary-nav-trigger .cd-ckbox:focus {
  outline: none;
}
.cd-primary-nav-trigger .cd-menu-text {
  -webkit-flex: 0 1 auto;
          flex: 0 1 auto;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 5px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
.cd-primary-nav-trigger .cd-menu-icon {
  -webkit-flex: 0 1 auto;
          flex: 0 1 auto;
  position: relative;
  width: 18px;
  height: 2px;
  background-color: #fff;
  transition: background-color 0.3s;
}
.cd-primary-nav-trigger .cd-menu-icon::before, .cd-primary-nav-trigger .cd-menu-icon:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  right: 0;
  transition: -webkit-transform 0.3s, top 0.3s, background-color 0s;
  transition: transform 0.3s, top 0.3s, background-color 0s;
}
.cd-primary-nav-trigger .cd-menu-icon::before {
  top: -5px;
}
.cd-primary-nav-trigger .cd-menu-icon::after {
  top: 5px;
}
.cd-primary-nav-trigger .cd-ckbox:checked ~ .cd-menu-icon {
  background-color: rgba(255, 255, 255, 0);
}
.cd-primary-nav-trigger .cd-ckbox:checked ~ .cd-menu-icon::before, .cd-primary-nav-trigger .cd-ckbox:checked ~ .cd-menu-icon::after {
  background-color: white;
}
.cd-primary-nav-trigger .cd-ckbox:checked ~ .cd-menu-icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.cd-primary-nav-trigger .cd-ckbox:checked ~ .cd-menu-icon::after {
  top: 0;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.cd-primary-nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(2, 23, 37, 0.96);
  text-align: center;
  padding: 50px 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
  z-index: 2;
}
.cd-primary-nav.cd-primary-nav--open {
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}
.cd-primary-nav li {
  font-size: 22px;
  font-weight: 300;
  margin: 0.2em 0;
  text-transform: capitalize;
}
.cd-primary-nav a {
  display: inline-block;
  padding: 0.4em 1em;
  transition: background 0.2s;
}
.no-touch .cd-primary-nav a:hover {
  background-color: #e36767;
}
.cd-primary-nav .cd-label {
  color: #06446e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin: 2.4em 0 0.8em;
}

.cd-intro {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
          perspective: 1px;
  background: green;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  z-index: 1;
}

.cd-intro__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 100vh 0;
}

.cd-intro__layer--base {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.cd-intro__layer--back {
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

.cd-title {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content {
  height: 100vh;
}
