@charset "UTF-8"

// Mixin
@import mixin
@import vendor/normalize
// @import reset

// colors
$color-1: #021725 // blue
$color-2: #e36767 // red
$color-3: #fff // white

// fonts
$primary-font: 'Source Sans Pro', sans-serif

// header height
$header-height-S: 50px
$header-height-M: 80px

// z-index
$content-zindex: 1
$nav-zindex: 3
$header-zindex: 4

// gutter
$gutter: 20px

*,
*:before,
*:after
  box-sizing: border-box

html
  // font-family: 'Roboto', sans-serif
  font-family: 'Roboto Slab', serif

html,
body
  margin: 0
  padding: 0
  &.menu-open
    width: 100%
    height: 100%
    overflow: hidden
    -webkit-overflow-scrolling: touch


nav, ul
  margin: 0
  padding: 0

.cd-header
  width: 100%
  position: absolute
  z-index: $header-zindex
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: space-between
  padding: 15px
  background-color: rgba($color-1, 0.3)
  transition: background-color 0.4s ease-in-out
  &.menu-open
    background-color: rgba($color-1, 0.9)

.cd-logo
  +unstyled-link
  color: $color-3
  display: flex
  flex-flow: row nowrap
  align-items: center
  > img
    width: auto
    height: 55px
  > span
    display: inline-block
    margin-left: 10px
    font-size: 1.3em

  +mq('M')
    > span
      margin-left: 15px
      font-size: 1.5em

.cd-primary-nav-trigger
  display: flex
  flex-flow: row nowrap
  align-items: center
  position: relative

  > .cd-ckbox
    /* autoprefixer: off */
    -moz-appearance: none
    -webkit-appearance: none
    appearance: none
    /* autoprefixer: on */
    position: absolute
    top: 0
    left: 0
    bottom: auto
    right: auto
    opacity: 0
    width: 100%
    height: 100%
    cursor: pointer
    z-index: 2
    &:focus
      outline: none

  > .cd-menu-text
    position: relative
    flex: 0 1 auto
    color: $color-3
    font-weight: 700
    margin-right: 10px
    font-family: 'Damion', cursive
    z-index: 1
    font-size: 1.5em
    display: none
    +mq('M')
      display: block

  > .cd-menu-icon
    $dist: 7px
    position: relative
    flex: 0 1 auto
    position: relative
    width: 25px
    height: 4px
    background-color: $color-3
    transition: background-color .3s
    z-index: 1

    &:before, &:after
      content: ''
      width: 100%
      height: 100%
      position: absolute
      background-color: $color-3
      right: 0
      transition: transform 0.3s, top 0.3s, background-color 0s

    &:before
      top: -$dist

    &:after
      top: $dist

  > .cd-ckbox:checked ~ .cd-menu-icon
    background-color: rgba($color-3, 0)

    &::before,
    &::after
      background-color: rgba($color-3, 1)

    &::before
      top: 0
      transform: rotate(135deg)

    &::after
      top: 0
      transform: rotate(225deg)

.cd-primary-nav
  position: fixed
  left: 0
  top: 0
  height: 100%
  width: 100%
  background: rgba($color-1, .96)
  text-align: center
  padding: $header-height-S 0
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  overflow: auto
  -webkit-overflow-scrolling: touch
  visibility: hidden
  transform: translateY(-100%)
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s
  z-index: $nav-zindex

  &.cd-primary-nav--open
    visibility: visible
    transform: translateY(0%)
    transition: transform 0.4s ease-in-out

  > ul
    list-style: none

    > li
      font-size: 22px
      font-weight: 300
      margin: .2em 0
      text-transform: capitalize
      > a
        +unstyled-link
        color: $color-3
        display: inline-block
        padding: .4em 1em
        transition: background 0.2s

        &:hover
          background-color: $color-2

      &.cd-label
        color: lighten($color-1, 15%)
        text-transform: uppercase
        font-weight: 700
        font-size: 14px
        margin: 2.4em 0 .8em

      &.cd-social
        display: inline-block
        margin: 0 .4em
        > a
          width: 44px
          height: 44px
          padding: 0
          background-image: url('../images/socials.svg')
          background-repeat: no-repeat
          overflow: hidden
          text-indent: 105%
          white-space: nowrap

      &.cd-facebook > a
        background-position: 0 0

      &.cd-instagram > a
        background-position: -44px 0

      &.cd-twitter > a
        background-position: -132px 0

.cd-intro
  position: relative
  width: 100%
  overflow: hidden
  z-index: $content-zindex

  > .cd-bg-cover
    position: absolute
    top: 0
    left: 0
    bottom: auto
    right: auto
    width: 100%
    height: 100%
    background:
      color: black
      image: url('../images/cover2x.jpg')
      repeat: no-repeat
      position: center center
      size: cover
    z-index: -900

.content
  position: relative
  padding: 20px 10%
  background-color: $color-3
  z-index: $content-zindex + 1
  box-shadow: -10px 0 50px rgba(0, 0, 0, 0.85)

.cd-top
  border-radius: 50em
  display: block
  height: 40px
  width: 40px
  position: fixed
  top: auto
  left: auto
  bottom: 20px
  right: 20px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05)
  overflow: hidden
  text-indent: 100%
  white-space: nowrap
  background:
    color: rgba($color-1, 0.8)
    image: url('../images/arrow.svg')
    repeat: no-repeat
    position: center 50%
  visibility: hidden
  opacity: 0
  transition: opacity .3s 0s, visibility 0s .3s
  z-index: 9000

  &.cd-is-visible
    visibility: visible
    opacity: 1
    transition: opacity .3s 0s, visibility 0s 0s
